body {
    background-color: rgb(102, 84, 84);
    color: rgb(245, 243, 243);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
}

h3 {
    margin-right: 20px;
    padding: 5px;
}